/*Colors used
Light blue: #77C9D4
Light green: #57BC90
Dark green: #015249
Grey: #A5A5AF
*/
/*Navbar*/
/* General style rule set for all items in ul */
.navbar{
  background-color: black;
}
.navbar ul {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
}

/* Style rule set for individual li */
.navbar ul li {
  float: left;
  margin: 10px;
}

/* Style rule set for individual li link */
.navbar ul li a {
  background-color:  #77C9D4;
color: black;
font-size: 16px;
text-align: center;
padding: 15px 32px;
cursor: pointer;
}

/* Style rule set for hovered link */
.navbar ul li a:hover {
  background-color: #015249;
  color: white;
  font-size: 17px;
  font: bold;
}


/*Header*/
.header{
  margin-bottom: 20px;
  margin-top: 55px;
}
.header-container{
  padding-top: 20px; 
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-item:nth-of-type(1){
   margin-bottom: 15px;
   display: flex;
   flex-direction: row;
}

.header-item:nth-of-type(2){
  font-size: 30px;
  max-width: 60%;
}
  
#header-img{
  border-radius: 50px;
  max-width: 40%;
}

      /*Begin Main content*/
body {
/* Add a background color or image */
background-color: #57BC90;

/* Customize the font, size, and color for text*/
font-family: Arial;
font-size: 16px;
color: black;

/* Adjust the padding and margins */
padding-top: 0;
padding-left: 0;
padding-right: 0;
padding-bottom: 0;

margin-top: 0;
margin-left: 0;
margin-right: 0;
margin-bottom: 0;

text-align: center;

}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

/*Style for toggling dark mode */
.dark-mode {
  background-color: black;
  
  }